/* Your existing CSS */
.rating {
    color: #000;
    box-sizing: border-box;
    background-color: #ffffff;
}
.ratingvalue {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: #FFBD13;
    margin-bottom: 2rem;
}
.rating table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    color:#cccccc;
    margin-bottom:.625rem;
}
.rating table,
.rating td{
    font-size: .8125rem;
    text-align: center;
}

.rating td{
    padding: 1rem;
    width:33.3%;
}

.tri {
    border-bottom: 1px solid #cccccc;
    padding: 12px;
}

.rnb h3 {
    color: #FFBD13;
    font-size: 2.4rem;
}

.tri .pdt-rate {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rating-stars {
    position: relative;
    vertical-align:baseline;
    color: #cccccc;
    line-height: 10px;
    float: left;
}

.grey-stars{
    height: 100%
}

.filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    color: #FFBD13;
}
.rpb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rnpb{
    display: flex;
    width: 100%;
}
.rnpb label:first-child {
    margin-right: 5px;
    margin-top: -2px;
}

.rnpb label:last-child {
    margin-left: 3px;
    margin-top: -2px;
}

.rnpb label i {
    color: #FFBD13;
}

.ropb {
    height: 10px;
    width: 75%;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: 10px;
}

.ripb {
    height: 100%;
    background-color: #FFBD13;
    border: 0.5px solid #cccccc;
}
.pup-button p {

}
.pup-button button {
    width: 220px;
    height: 40px;
    background-color: #007BFF;
    color: #FFF;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px #007BFF;
    cursor: pointer;
}

.pup-button:hover{
    opacity: .9;
}
.bri {
    overflow: hidden;
    height: 100%;
}
.uscm-secs {
    margin-left: 30px;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #cccccc;
}
.us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.us-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.uscms {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
}

.us-cmt p {
    font-size: .9rem;
    padding: 10px 10px 10px 0;
    color: #333;
    font-weight: 500;
    font-family: raleway;
    margin: 0;
}

.us-name{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 18px;
}

.dropbtn {
    color: black;
    padding: 0;
    font-size: 24px;
    border: none; /* Remove border */
    background-color: transparent; /* Remove background color */
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
}

/* Style the buttons inside the dropdown */
.dropdown-content button {
    background-color: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #f1f1f1;
}

:root {
    --yellow: #FFBD13;
    --blue: #4383FF;
    --blue-d-1: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --shadow: 8px 8px 30px rgba(0,0,0,.05);
}
.all-ratingform {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.rating-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.wrapper {
    background: var(--white);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.rating .star {
    cursor: pointer;
}
.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.rating .star:hover {
    transform: scale(1.1);
}
textarea {
    background: var(--light);
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: .5rem;
    width: 90%;
}
.btn-group {
    display: flex;
    grid-gap: .5rem;
    align-items: center;
}
.btn-group .btn {
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
}
.btn-group .btn.submit {
    background: var(--blue);
    color: var(--white);
}
.btn-group .btn.submit:hover {
    background: var(--blue-d-1);
}
.btn-group .btn.cancel {
    background: var(--white);
    color: var(--blue);
}
.btn-group .btn.cancel:hover {
    background: var(--light);
}
.testimonial-box-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px #000;
    background-color: #FFF;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong{
    color: #44525f;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.rating-star {
    color: #FFBD13;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color:#000;
    margin-bottom: 10px;
}

.bg-white {
    background: white;
}
.bg-red {
    background: rgb(238, 46, 36);
}
.text-red {
    color: rgb(238, 46, 36);
}
.scroll-container::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #007BFF;
    border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
}
.scroll-container {

    overflow-y: scroll;
    overflow-wrap: break-word;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: white;
    color: #fff;
}
.scroll-container::-webkit-scrollbar {
    width: 0;
}
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
}
#scrollBtn:hover {
    background-color: #0056b3;
}
.events-section {

    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}
.events-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.events-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.games-list {
    flex-grow: 1;

    text-align: left;
}
.scroll-bar {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    padding: 30px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.hero-section {

    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}
.games-section {
    padding: 40px 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.featured-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.card {
    height: 50%;

    border-radius: 10px;
    padding: 20px;
    width: 35vw;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.card i {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 10px;
}
.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card p {
    font-size: 1em;
    color: #333;
}






