/* resetpassword-style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Center-align the form content */
}

h2 {
    color: #333;
    border: 2px solid #EE2E24;
    padding: 10px;
    margin-bottom: 20px; /* Add some space below the heading */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left; /* Align labels to the left */
}

input {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #EE2E24;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #EE2E24;
}

input[type="password"] {
    margin-top: 8px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
